.home h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  font-size: 128px;
}

.home ul {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-size: 32px;
  margin: auto;
  padding: 15px;

  background-color: rgb(127, 127, 127);
}

.home ul {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-size: 32px;
  margin: auto;
  padding: 15px;

  background-color: rgb(127, 127, 127);
}
