<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>旅日記web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body class="home">
    <h1>旅日記web</h1>
    <ul>
      <div><a href="{{ url_for('add.list') }}">記録する</a></div>
      <div><a href="{{ url_for('trip.list')}}">人気の場所</a></div>
      <div><a href="{{ url_for('points.list')}}">投稿を見る</a></div>
      <div><a href="{{ url_for('map.list')}}">地図で見る</a></div>
    </ul>
  </body>
</html>
