<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>人気の旅先</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='trip.css') }}" />
  </head>
  <body>
    <header class="web-title-container">
      <h1 class="web-title"><a href="{{ url_for('index') }}">旅日記Web</a></h1>
      <a href="{{ url_for('index') }}" class="home-button">ホーム</a>
    </header>
    <div class="page-title-container">
      <h1 class="page-title">人気の場所</h1>
      <form method="post" class="search-form">
        <label>住所: <input type="text" name="address"></label>
        <button type="submit">検索</button>
      </form>
    </div>
    <main>
      {% for trip_data in trip_data %}
      <div class="comment-box">
        <div class="comment-header">
          <span class="place-name">{{ trip_data.name }}</span>
          <span class="date">{{ trip_data.day }}</span>
        </div>
        <div class="comment-content">
          <p>{{ trip_data.comment }}</p>
          <p>〒 {{ trip_data.address }}</p>
        </div>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
