<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>人気の旅先</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trip.css') }}" />
  </head>
  <body>
    <h1>旅日記Web</h1>
    <h1>人気の場所</h1>
    <a href="{{ url_for('index') }}">ホーム</a>
    <main>
      {% for trip_data in trip_data %}
      <div class="comment-box">
        <div class="comment-header">
          <span class="place-name">{{ trip_data.name }}</span>
          <span class="date">{{ trip_data.day }}</span>
        </div>
        <div class="comment-content">
          <p>{{ trip_data.comment }}</p>
          <p>〒 {{ trip_data.address }}</p>
        </div>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
